#LandingPage {
    display: flex;
    flex-direction: column;
    background-color: #FDEDEF;
    height: 80vh;
    width: 100%;
}

#LandingPageHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

#LandingPageOptions>h3 {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 15px;
}

#LandingPageMain>h1 {
    color: #07256C;
    font-size: 40px;
    font-weight: 800;
    width: 60%;
    text-align: left;
    margin-left: 20%;
}

#LandingPageMain>p {
    color: #07256C;
    width: 60%;
    text-align: left;
    margin-left: 20%;
}