html {
  background-color: #FBFBFF;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #FBFBFF;
  font-family: "Inter";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.primary-text {
  color: #07256C;
  font-size: 18px;
}

h2 {
  color: #07256C;
  font-size: 20;
}